<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head'); %>
</head>

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <body>
    <div class="container">
      <div class="card mt-4 d-flex w-55 p-5 shadow-sm mb-5 bg-white rounded">
        <div class="card-body">
          <img class="card-img-top" src="./images/redex.png" style="display: block; margin-left: auto; margin-right: auto;width: 25%;">
          <h3 style="display:flex;justify-content:center;align-items:center;">We have encountered an error</h3>
          <h4 style="display:flex;justify-content:center;align-items:center;">Please try again later</h4>          
          <p class="card-text p-1" id="resultCode" style="display:flex;justify-content:center;align-items:center;"></p>
          <p class="card-text p-1" id="refusalReason" style="display:flex;justify-content:center;align-items:center;"></p>
          <p class="card-text p-1" id="pspReference" style="display:flex;justify-content:center;align-items:center;"></p>
          <p class="card-text p-1" id="refusalReasonCode" style="display:flex;justify-content:center;align-items:center;"></p>
          <p class="card-text p-1" id="merchantReference" style="display:flex;justify-content:center;align-items:center;"></p>
        </div>
      </div>
    </div>
  </body>
</main>

<script>
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const resultCode = urlParams.get('resultcode');
  const refusalReason = urlParams.get('refusalreason');
  const pspReference = urlParams.get('pspreference');
  const refusalReasonCode = urlParams.get('refusalreasoncode');
  const merchantReference = urlParams.get('merchantreference');
  document.getElementById('resultCode').textContent = `Result code: ${resultCode}`;
  document.getElementById('refusalReason').textContent = `Refusal reason: ${refusalReason}`;
  document.getElementById('pspReference').textContent = `PSPReference: ${pspReference}`;
  document.getElementById('refusalReasonCode').textContent = `Refusal Reason Code: ${refusalReasonCode}`;
  document.getElementById('merchantReference').textContent = `Merchant Reference: ${merchantReference}`;
</script>

</html>