<div id="clientKey" style="display: none"><%= clientKey %></div>
<div id="paymentMethodsResponse" style="display: none"><%= response%></div>

<script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/3.10.1/adyen.js"
    integrity="sha384-wG2z9zSQo61EIvyXmiFCo+zB3y0ZB4hsrXVcANmpP8HLthjoQJQPBh7tZKJSV8jA"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/3.10.1/adyen.css"
    integrity="sha384-8ofgICZZ/k5cC5N7xegqFZOA73H9RQ7H13439JfAZW8Gj3qjuKL2isaTD3GMIhDE" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/app.css" type="text/css">

<main>
    <div class="placeholder">
      <h1>This are great</h1>
    </div>

    <div class="row">
      <div class="col-75">
        <div class="container">
            <div class="row">
              <div class="col-50">
                <h3>Billing Address</h3>
                <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Steve Yu" disabled>
                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                <input type="text" id="email" name="email" placeholder="steve@steve.com" disabled>
                <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                <input type="text" id="adr" name="address" placeholder="123 Acme Avenue" disabled>
                <label for="city"><i class="fa fa-institution"></i> City</label>
                <input type="text" id="city" name="city" placeholder="New York" disabled>
    
                <div class="row">
                  <div class="col-50">
                    <label for="state">State</label>
                    <input type="text" id="state" name="state" placeholder="NY" disabled>
                  </div>
                  <div class="col-50">
                    <label for="zip">Zip</label>
                    <input type="text" id="zip" name="zip" placeholder="10002" disabled>
                  </div>
                </div>
              </div>         
            </div> 
          </form>
        </div>
      </div>
    

    </div>    
  </main>

<div id="dropin"></div>

<script type="text/javascript" src="../paymentImplementation.js"></script>