<div id="clientKey" style="display: none"><%= clientKey %></div>
<div id="paymentMethodsResponse" style="display: none"><%= response%></div>

<script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/3.10.1/adyen.js"
    integrity="sha384-wG2z9zSQo61EIvyXmiFCo+zB3y0ZB4hsrXVcANmpP8HLthjoQJQPBh7tZKJSV8jA"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/3.10.1/adyen.css"
    integrity="sha384-8ofgICZZ/k5cC5N7xegqFZOA73H9RQ7H13439JfAZW8Gj3qjuKL2isaTD3GMIhDE" crossorigin="anonymous">

<main>
    <div class="placeholder">
      <h1>This are great</h1>
    </div>
  </main>

<div id="dropin"></div>

<script type="text/javascript" src="../paymentImplementation.js"></script>