body {
    padding: 0;
    margin: 0;
    background: #FFFFFF;
}
.header{
    font-family: Helvetica;
}
.navbar {
    background:#FFFFFF;
    border-bottom:1px solid lightgrey
}
.navbar-brand {
    color: #000000;
    cursor: pointer;
}
.form-control {
    font-size: 10px;
    border:0;   
}
.no-border {
    border: 0;
    box-shadow: none;
}
.adyen-checkout__dropin.adyen-checkout__dropin--ready {
    margin: auto;
    max-width: 80%;
}
.cardi {
    margin: auto;
}
.navbar-left {
    height: 40px;
    margin: 5px;
  }
.text-center{
    text-align: center;
}
.nav-link,

.nav-link { 
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}